.ngxTableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .header-buttons-left {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;

    li {
      margin-right: 20px;

      .search-icon {
        font-size: 18px;
        margin-right: 5px;
      }

      .search-field {
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid #ced4da;

        &:focus {
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
      }
    }
  }

  .header-buttons {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;

    li {
      button {
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #007bff;
        color: #ffffff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #0056b3;
        }

        mat-icon {
          vertical-align: middle;
        }
      }
    }
  }
}


.mat-table {
  width: 100%;
  overflow-x: auto;
  display: block;
  table-layout: fixed;
}

.mat-header-cell,
.mat-cell {
  padding: 8px 10px;
  text-align: left;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
}

.mat-header-cell {
  font-weight: bold;
  min-width: 100px;
}

.mat-cell {
  min-width: 100px;
}




